*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 95%;
    margin-inline: auto;
    height: fit-content;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -1px -1px 2px rgba(0,0,0,0.4) , 1px 1px 2px rgba(0,0,0,0.4);
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 10px;
    background-color: var(--element-color);
}

/* #border-countries{
    padding: 3px 5px;
    border: 1px solid black;
} */

.details-card{
    /* background-color: orange; */
    width: 100%;
    height: fit-content;
    padding: 10px 10px;
    display: flex;
    /* align-items: center;
    justify-content:center; */
    gap: 20px;
    
}


#dtlCard-details{
    width: 60%;
    line-height: 40px;
    /* background-color: blueviolet; */
    /* border-right: 2px dashed gray; */
    /* border-radius: 4px; */
    padding: 5px 10px;
    overflow-wrap: break-word;
}

#dtlCard-details h2 {
    margin-bottom: 20px;
}

#dtlCardImg{
    width: 40%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

#dtlCardImg img{
    width: 100%;
    height: fit-content;
}


@media (max-width: 700px){
    .container{
        /* margin-block: 20px; */
        margin-top: 60px;
    }
    .details-card{
        flex-direction: column-reverse;
        align-items: center;
        padding: 0;
    }

    #dtlCardImg{
        padding: 0;
        width: 80%;
        height: auto;
        margin-bottom: 10px;
    }

    #dtlCard-details{
        width: 80%;
        /* height: auto; */
        /* line-height: 30px;
        margin-left: 50px;
        background-color: blueviolet; */
    }
}